

.header{
    background-image: url('../images/Banner\ Image.png');
    /* height: 100vh; */
    background-repeat: no-repeat;
    /* margin: 0 50px; */
    height: 600px;
    width: 1300px;
    margin: 0 auto;
}
.banner{
    border-radius: 16px;
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
/* position: relative; */
}
.banner-con h1{
    color: #FFF;
    text-align: center;
font-size: 31px;
/* padding: ; */
/* margin: 50%; */
padding: 177px 530px;
}
.banner-con h3{

color: #FFF;
text-align: center;
justify-content: center;
/* padding: 283px 484px; */
/* padding-top: 200px; */
font-size: 72px;
padding-bottom:  550px;

}
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;

}
.test{
    color: red;
    text-align: center;
font-size: 80px;
font-weight: 700;
margin-top: 120px;
}
.mest{
    color: #F00;
    font-size: 22px;
    text-align: center;
    margin-top: 3px;
    font-weight: 500;
/* font-family: ; */
/* margin-bottom: ; */
}
  .next{
   color: #070211;
   font-size: 45px; 
   font-weight: 700;
   text-align: center;
   /* margin-top: 5px; */
}
.pic{
    text-align: center;
    
}
.banner-two{
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    height: 600px;
    width: 1300px;
    margin: 0 auto;
    margin-top: 50px;
    /* gap: 10px; */
    margin-bottom: 70px;
}
.hridoy{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between; 

gap: 5px;

}
.banner-title{
   color: #FFF; 
   font-size: 60px;
   font-weight: 900;
   width: 500px;
}
.banner-description{
    color: rgba(255, 255, 255, 0.80);

    font-size: 18px;
 
    font-weight: 400;
    width: 650px;
    
  
}
.joi{
    color: #FFF;
    font-size: 30px;
}
.img{
    margin-top: 40px;
    height: 450px;

}
.norst{
    /* margin-bottom: 50px; */
    width: 1300px;
    height: 400px;
    background: rgb(199, 181, 157);
     
     /* background: linear-gradient(rgb(200, 135, 145),blue); */
    margin: 0 auto;
    margin-bottom: 70px;
}

 .most{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
padding: 120px 300px;
 }
 .btn{
    /* color: orangered; */
    font-size: 20px;background: #F00;
    color: #FFF;
    font-weight: 700;
    border: 0;
    padding: 12px;
    margin-top: 15px;
 }
 .tit{
    /* text-align: center; */
    justify-content: center;
width: 1600px;
/* margin-left: 140px; */
margin: 0 auto;
 }

 .title{
    color: #F00;
margin-bottom: 0;
 
margin-left: 150px;
    font-size: 24px;
   
    
    font-weight: 700;
    
    
 }
 .head{
    color: #070211;

font-size: 48px;

font-weight: 900;
margin-top: 0;
margin-left: 150px;

 }
 .paragrap{
    color: rgba(7, 2, 17, 0.60);

font-size: 20px;

font-weight: 400;
/* line-height: 32px; 160% */
margin-top: 0;
width: 850px;
/* justify-content: center; */
margin-left: 150px;
 }
 .picture{

    text-align: center;

    margin-left: 150px;
    /* justify-content: space-around; */
    display: flex;
    /* align-items: center; */


 }
 .picture, .photo{
    width: 430px;
height: 460px;
gap: 6px;
/* border: 3px solid antiquewhite; */
border-radius: 10px;

 }
 .worst{
    margin-bottom: 100px;
 }
.try{
    text-align: center;
    width: 950px;
    height: 400px;
    background: antiquewhite;
    margin-left: 250px;
    padding: 200px;
    margin: 0 auto;
}
.try-title{
    color: #070211;
text-align: center;

font-size: 48px;

font-weight: 900;


}
.try-description{
    color: rgba(7, 2, 17, 0.60);
text-align: center;

font-size: 20px;

font-weight: 400;
/* width: 700px; */
}
.input{
   width: 600px; 
   padding: 20px;
   border-radius: 40px;
   border: 0;
}
.rong{
    /* color: #F00; */
    background: #F00;
    border-radius: 30px;
    padding: 20px;
width: 110px;
border: 0;
}
.nand{
    margin-bottom: 100px;
}
.footer{
    width: 1600px;
    height: 600px;
    background: #070211;
    width: 100%;
    padding: 20px;
    margin-bottom: 100px;
}
.foot-title{
    color: #FFF;
width: 500px;
margin-left: 100px;
}
.foot-contact{
    color: #FFF;
}
.foot-website{
    color: #FFF;
}
.foot{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.kal{
    display: block;
    margin-right: 100px;
}
.footer-images{
    text-align: center;
    padding: 30px;
    gap: 17px;
}

.foott-two{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.foot-title-two{
color: #FFF;
margin-left: 100px;
}
.foot-un{
    color: #FFF;
    margin-right: 100px;
}
