

.header{
    background-image: url('../images/Banner\ Image.png');
    /* height: 100vh; */
    background-repeat: no-repeat;
    /* margin: 0 50px; */
    height: 600px;
    width: 1300px;
    margin: 0 auto;
}
.banner{
    border-radius: 16px;
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
/* position: relative; */
}
.banner-con h1{
    color: #FFF;
    text-align: center;
font-size: 31px;
/* padding: ; */
/* margin: 50%; */
padding: 177px 530px;
}
.banner-con h3{

color: #FFF;
text-align: center;
/* padding: 283px 484px; */
/* padding-top: 200px; */
font-size: 72px;
padding-bottom:  450px;

}
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;

}
.test{
    color: red;
    text-align: center;
font-size: 80px;
font-weight: 700;
margin-top: 120px;
}
.mest{
    color: #F00;
    font-size: 22px;
    text-align: center;
    margin-top: 3px;
    font-weight: 500;
/* font-family: ; */
/* margin-bottom: ; */
}
  .next{
   color: #070211;
   font-size: 45px; 
   font-weight: 700;
   text-align: center;
   /* margin-top: 5px; */
}
.pic{
    text-align: center;
    
}
.banner-two{
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    height: 600px;
    width: 1300px;
    margin: 0 auto;
    margin-top: 50px;
    /* gap: 10px; */
    margin-bottom: 70px;
}
.hridoy{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between; 

gap: 5px;

}
.banner-title{
   color: #FFF; 
   font-size: 60px;
   font-weight: 900;
   width: 500px;
}
.banner-description{
    color: rgba(255, 255, 255, 0.80);

    font-size: 18px;
 
    font-weight: 400;
    width: 650px;
    
  
}
.joi{
    color: #FFF;
    font-size: 30px;
}
.img{
    margin-top: 40px;
    height: 450px;

}
.norst{
    /* margin-bottom: 50px; */
    width: 1300px;
    height: 400px;
    background: rgb(199, 181, 157);
     
     /* background: linear-gradient(rgb(200, 135, 145),blue); */
    margin: 0 auto;
    margin-bottom: 70px;
}

 .most{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
padding: 120px 300px;
 }
 .btn{
    /* color: orangered; */
    font-size: 20px;background: #F00;
    color: #FFF;
    font-weight: 700;
    border: 0;
    padding: 12px;
    margin-top: 15px;
 }